/* -------------------------------------------------------------------------- */
/* HEADER */
/* -------------------------------------------------------------------------- */
header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9999;
}

/* -------------------------------------------------------------------------- */
/* TOP BAR */
/* -------------------------------------------------------------------------- */
.topbar {
  min-height: 30px;
  background-color: $color-main;
  display: flex;
  align-items: center;

  .topbar-link {
    color: #fff;
    text-decoration: none;
    font-size: 100%;
    font-family: $font-primary;

    &:hover {
      color: $color-dark;
      text-decoration: none;
    }
  }
}


/* -------------------------------------------------------------------------- */
/* NAVBAR */
/* -------------------------------------------------------------------------- */
.nav-wrapper {
  background: rgba($color-white, 1);
  position: relative;

  .container {
    position: relative;

    .desktop-logo {
      position: absolute;
      left: 0;
      top: 0;
      width: 240px;
      // background: white;

      img {
        width: 100%;
        height: auto;
      }
    }
  }
}

.navbar {
  .nav-logo {
    max-width: 150px;
    // margin-top: 18px;
  }
}

.nav-item {
  margin-right: 0.7rem;

  // font-family: $font-primary !important;
  .nav-link {
    font-family: $font-primary !important;
    color: $color-main !important;
    font-size: 0.875rem;
    font-style: normal;

    &:hover {
      color: $color-dark !important;
    }
  }
}

.nav-item .nav-link:last-child {
  padding-right: 0;
  padding-left: 0;
}

.nav-item.nav-divider {
  position: relative;

  &::after {
    content: "•";
    color: $color-dark;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0.3;
  }
}

.nav-item:last-child {
  margin-right: 0 !important;

  .nav-link {
    margin-right: 0;
  }
}

.dropdown-menu {
  background-color: rgba($color-light, 1);
  border-color: transparent;
  border: none;
  margin-top: 0 !important;

  .dropdown-item {
    color: $color-dark;
    font-family: $font-primary;
    font-weight: 400;

    &:hover {
      background-color: transparent;
      color: $color-main;
    }

    &:focus {
      background: transparent;
    }
  }
}

.dropdown-toggle::after {
  border: none !important;
  margin-left: 0 !important;
}