/* -------------------------------------------------------------------------- */
/* SECTION STYLES */
/* -------------------------------------------------------------------------- */

/* -------------------------------------------------------------------------- */
/* HERO SECTION */
/* -------------------------------------------------------------------------- */
.hero {
  background: url('../../img/hero-bg@2x.jpg') 650px bottom / cover;
  height: 100vh;
  max-height: 740px;
}

/* -------------------------------------------------------------------------- */
/* HEALTHIER SECTION */
/* -------------------------------------------------------------------------- */

/* -------------------------------------------------------------------------- */
/* COMPREHENSIVE SECTION */
/* -------------------------------------------------------------------------- */

/* -------------------------------------------------------------------------- */
/* PRENATAL EVAl SECTION */
/* -------------------------------------------------------------------------- */

/* -------------------------------------------------------------------------- */
/* DIAGNOSTIC OVERVIEW */
/* -------------------------------------------------------------------------- */

/* -------------------------------------------------------------------------- */
/* TESTIMONIAL SECTION */
/* -------------------------------------------------------------------------- */