/* -------------------------------------------------------------------------- */
/* SECTION STYLES */
/* -------------------------------------------------------------------------- */
.containerish {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  height: auto;
  padding: 0;
}

section {
  overflow: hidden;
}

/* -------------------------------------------------------------------------- */
/* HERO SECTION */
/* -------------------------------------------------------------------------- */
.hero {
  .slide {
    background: $color-main;
    padding: 40px 20px;
    height: 50vh;

    .containerish {
      display: grid;
    }
  }
}

/* -------------------------------------------------------------------------- */
/* HEALTHIER SECTION */
/* -------------------------------------------------------------------------- */

/* -------------------------------------------------------------------------- */
/* COMPREHENSIVE SECTION */
/* -------------------------------------------------------------------------- */

/* -------------------------------------------------------------------------- */
/* PRENATAL EVAl SECTION */
/* -------------------------------------------------------------------------- */

/* -------------------------------------------------------------------------- */
/* DIAGNOSTIC OVERVIEW */
/* -------------------------------------------------------------------------- */

/* -------------------------------------------------------------------------- */
/* TESTIMONIAL SECTION */
/* -------------------------------------------------------------------------- */